<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    {% if isCached == True %}
        <h1 style="margin-left:300px; margin-top:50px">This request have been cached with duration: {{duration}} ms</h1>
    {% else %}
        <h1 style="margin-left:300px; margin-top:50px">This request haven't cached with duration: {{duration}} ms</h1>
    {% endif %}

    <div class="container-fluid mt-5">
        <a href="/word/home" class="btn btn-danger" style="margin-left:900px">Back</a>
    <h1 class="mt-4" style="margin-left:300px; margin-top:50px"><b>- {{sentences.0.word.raw}} -</b></h1>
    {% for s in sentences %}

        <p style="margin-left:300px; margin-top:50px">{{forloop.counter}}. {{s.raw}}</p>

    {% endfor %}

    </div>

</body>

</html>

